<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<a href="/about">About Us</a>
    <a href="/contact">Contact Us</a>
    <a href="/articles">Articles</a>

    <form method="post" action="/articles">
      <input type="text" name="article[title]"><br>
      <input type="text" name="article[author]"><br>
      <textarea name="article[description]">
      </textarea><br>
      <button>Save Article</button>

    </form>
  </body>
</html>